{% extends "_helpers/_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "contacts/css/show_contacts.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "contacts/js/search.js" %}"></script>
{% endblock %}

{% block content %}
    {% if contacts %}
        <div class="search-wrapper">
            <label for="search" class="label-search">Search Users:</label>
            <input type="search" id="search" data-search>
            <a href="{% url "contacts:add_contact" %}">
                <img alt="add contact" class="add-contact-icon" src="{% static "contacts/icons/add.svg" %}">
            </a>
        </div>

        {% for contact in contacts %}
            <div class="contact-card shadow" data-search-div>

                <div class="contact-data">
                    <div class="contact-image__container">
                        <img src="{% static "contacts/temp_photo/contact_profile.jpg" %}" class="contact__image"
                             alt="contact image">
                    </div>
                    <div class="contact-info__container">
                        <h2 class="contact__title">
                            Name: <a href="{{ contact.get_absolute_url }}">
                            {{ contact.contact_name }}
                        </a>
                        </h2>
                        <p class="contact__number">Phone: {{ contact.phone_number }}</p>
                    </div>
                </div>

                <div class="contact-icons__container">
                    <a href="{{ contact.get_update_url }}">
                        <img src="{% static "contacts/icons/edit.svg" %}" class="contact__icon" alt="edit contact">
                    </a>
                    {#                        <a href="{{ contact.get_delete_url }}">#}
                    {#                            <img src="{% static "contacts/icons/trash.svg" %}" class="contact__icon" alt="delete contact">#}
                    {#                        </a>#}
                </div>
            </div>

        {% endfor %}

    {% else %}
        <h2>Contact list is empty :(</h2>
    {% endif %}
{% endblock %}