body {
    box-sizing: border-box;
    background: floralwhite;
}

.nav-links {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.nav-links__main-link {
    font-size: 29px;
    color: black;
    text-decoration: none;
}

.nav-links__other-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav-links__other-links > a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}