body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

header {
    padding: 1rem;
    background: #e8e8e8;
}

.nav-links {
    display: flex;
    justify-content: space-between;

}

.nav-links__main-link {
    font-size: 29px;
    color: black;
    text-decoration: none;
}

.nav-links__other-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav-links__other-links > a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}