<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "base_styles/clear_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base_styles/styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>

<body>
    {% include "_helpers/_header.html" %}
    <div class="body">
        <div class="container">
            {% block content %}{% endblock %}

            {% block scripts %}{% endblock %}
        </div>
    </div>
</body>
</html>
