<header>
    <nav class="nav-links">
        <div class="nav-links__main-page">
            <a href="{% url 'base:index' %}" class="nav-links__main-link">
                Home
            </a>
        </div>
        <div class="nav-links__other-links">
            <a href="{% url 'base:greetings' %}">
                First Words
            </a>
            <a href="{% url 'base:unique_users' %}">
                Unique Accounts
            </a>
            <a href="{% url 'contacts:show_contacts' %}">
                Contacts
            </a>
        </div>
        {% if user.avatar %}
            <div class="user-avatar-container">
                <img src="{{ user.avatar.url }}" alt="avatar" class="user-avatar">
            </div>
        {% endif %}

    </nav>
</header>
