{% load static %}

<header>
    <nav class="nav-links">
        <div class="nav-links__main-page">
            <a href="{% url 'base:index' %}" class="nav-links__main-link">
                Home
            </a>
        </div>
        <div class="nav-links__other-links">
            <a href="{% url 'base:greetings' %}">
                First Words
            </a>
            <a href="{% url 'base:unique_users' %}">
                Unique Accounts
            </a>
            <a href="{% url 'contacts:show_contacts' %}">
                Contacts
            </a>
        </div>

        {% if user.is_authenticated %}
            <div class="user-info-container">
                <a href="{% url "auth_user_app:logout" %}">Logout</a>
                <div class="user-avatar-container">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="avatar" class="user-avatar">
                    {% else %}
                        <img src="{% static "contacts/temp_photo/contact_profile.jpg" %}"
                             alt="avatar" class="user-avatar">
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="auth-user-links-container">
                <a href="{% url "auth_user_app:sign_up" %}">Sign Up</a>
                <a href="{% url "auth_user_app:login" %}">Log In</a>
            </div>
        {% endif %}


    </nav>
</header>
